@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

body {
  background-color: #ededed;
}

* {
  margin: 0;
  padding: 0;
}

nav {
  font-family: "Ubuntu";
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 70px;
  background-color: black;
  color: azure;
}

.brand img {
  width: 50px;
}

nav ul li {
  padding: 0 10px;
}

.brand {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0 10px;
}

.container {
  min-height: 75vh;
  background-color: black;
  color: white;
  font-family: "Ubuntu";
  display: flex;
  margin: 23px auto;
  width: 70%;
  border-radius: 12px;
  padding: 30px;
}

.bottom {
  position: sticky;
  background-color: black;
  height: 130px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
}

#progressbar {
  width: 80vw;
  cursor: pointer;
}

#play {
  width: 40px;
  cursor: pointer;
}
#prev {
  width: 40px;
  cursor: pointer;
}
#next {
  width: 40px;
  cursor: pointer;
}

.icons {
  margin-top: 20px;
}

#playMusic {
  height: 300px;
  margin-top: 200px;
}

.player {
  height: 20px;
}

.timestamp {
  margin: 0 23px;
}

.songItem {
  height: 50px;
  display: flex;
  background-color: white;
  color: black;
  margin: 12px 0;
  justify-content: space-between;
  align-items: center;
  border-radius: 34px;
}

.images {
  width: 40px;
  border-radius: 50px;
  margin-left: 10px;
}

.songInfo {
  font-family: "Ubuntu";
}

#gif {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}
